$sidebar_bg_color: #f0f0f0;
$sidebar_ward_color: #e7473c;
$sidebar_tag_color: #888888;
$sidebar_width: 610px;

$movie_container_number_bg_color: #da281b;
$movie_container_bg_color1: #d64238;
$movie_container_bg_color2: #e6473c;
$movie_container_word_color: #a02922;
